.CreateExamControls {
  margin: 10px;
}

.CreateExamTitleControls {
  display: flex;
}

.CreateExamTitleControls .resetBtn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.CreateExamTitleControls .forwardBtn {
  width: 50%;
}

.CreateExamGeneralControls {
  display: flex;
}

.CreateExamGeneralControls .forwardBtn,
.CreateExamGeneralControls .resetBtn,
.CreateExamGeneralControls .backwardBtn {
  width: 33.33%;
}

.CreateExamFinishControls {
  display: flex;
}

.CreateExamFinishControls .resetBtn {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.CreateExamFinishControls .backwardBtn {
  width: 50%;
}
