.CreateExamControls {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.CreateExamTitleControls .backBtn {
  visibility: hidden;
}

.CreateExamFinishControls .nextBtn {
  visibility: hidden;
}

@media (max-width: 500px) {
  .CreateExamControls {
    justify-content: space-between;
  }
}
