.CreateExamStudents {
  display: flex;
  flex-direction: column;
}

.CreateExamStudentsMain {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: space-evenly;
}

.CreateExamStudents a {
  color: #17a2b8;
}
