.Signup {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  width: 500px;
  margin: 20px auto;
  padding: 15px;
}

.Signup .form-label {
  display: flex;
}

.Signup span {
  font-size: 20px;
}

@media (max-width: 500px) {
  .Signup {
    width: 300px;
  }
}
