.WorkOnExamFinish {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.examExample {
  flex-grow: 1;
  position: relative;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
}
.WorkOnExamFinish .scrollOnOverflow {
  padding: 20px;
}

.WorkOnExamFinish .ReadOnlyQuestion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.WorkOnExamFinish .questionOptions,
.WorkOnExamFinish .trueOrFalseOptions {
  padding-left: 20px;
}

.WorkOnExamFinish .studentListTitle {
  font-weight: bold;
}

.WorkOnExamFinish .studentsList {
  padding: 0;
  list-style: none;
}

.WorkOnExamFinish .noStudentsList {
  align-items: center;
  padding-left: 0;
}

@media (max-width: 1000px) {
  .WorkOnExamFinish {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .WorkOnExamFinish {
    width: 90%;
  }
}
