.EditQuestion {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  width: 48vw;
  position: relative;
}

@media (max-width: 500px) {
  .EditQuestion {
    width: 100%;
    height: 450px;
    border: 0;
  }
}
