.CreateAExamControls {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.CreateExamTitleControls .backBtn {
  visibility: hidden;
}

@media (max-width: 500px) {
  .CreateAExamControls {
    justify-content: space-around;
  }
}
