.NavigationBar {
  height: 10vh;
}

.CreateAExam {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
}

.CreateExamQuestions {
  flex-grow: 1;
}

.CreateExamStudents {
  flex-grow: 1;
}

.scrollOnOverflow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

@media (max-height: 500px) {
  .NavigationBar {
    height: 15vh;
  }

  .CreateAExam {
    height: 85vh;
  }
}

@media (min-height: 1000px) {
  .NavigationBar {
    height: 8vh;
  }

  .CreateAExam {
    height: 92vh;
  }
}
