.CreateExamQuestions {
  display: flex;
  flex-direction: column;
}

.CreateExamQuestionsMain {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.CreateExamQuestions a {
  color: #17a2b8;
}
