.CreateExamQuestionsMain {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 15px;
}

.QuestionsSoFar {
  width: 50vw;
}

.CreateQuestion {
  width: 50vw;
}

.CreateExamQuestions .Next {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
  margin: auto;
}
