.Login {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  width: 500px;
  margin: 20px auto;
  padding: 15px;
}

.Login .form-label {
  display: flex;
}

.Login span {
  font-size: 20px;
}

@media (max-width: 500px) {
  .Login {
    width: 400px;
  }
}
